body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 5% 25%;
}

.container p,
.container h1 {
  margin-right: 150px;
}

.image img {
  width: 100%;
  border-radius: 8px;
}

.image p {
  color: grey;
  padding-bottom: 20px;
}

button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #593154;
  color: white;
  border-radius: 5px;
  border: 1px solid #593154;
}

button:hover {
  cursor: pointer;
}
